fyp-env/
label-env/
tf-fyp-env/
torch-fyp-env/
yolo-env/
*/__pycache__/
Datasets/*/Data/
Datasets/*/test/
Datasets/*/train/
*.record
CUDA/*.exe
CUDA/*.zip
Recognition/Chars-Dataset/
Recognition/Model/Checkpoints
Recognition/Model/Logs
Recognition/Model/*.h5
Recognition/Model/*.onnx