# Environments
fyp-env/
label-env/
tf-fyp-env/
torch-fyp-env/
yolo-env/

# Pycache
*/__pycache__/
*/__pycache__/**

# Images from Datasets
Datasets/*/Data/*
Datasets/*/test/*
Datasets/*/train/*

# Recognition Stage
Recognition/Chars-Dataset/*
Recognition/Models/*/Checkpoints/*
Recognition/Models/*/Logs/*
Recognition/Models/*/Model/*

# Detection Stage
Detection/Models/*

# Raw Dataset
Raw-Dataset/Detection/*
Raw-Dataset/Segmentation/*
